@font-face {
  font-family: 'OmniPresent';
  src: url('https://cdn.jsdelivr.net/gh/DonRuben/Hosting-Assets-Externally@main/Fonts/Font-%20OmniPresent%20Main/OmniPresent.woff') format('woff');
  font-display: swap;
}
