@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    @apply bg-black;
  }
  
  body {
    @apply bg-black text-gray-300;
  }
  
  /* Custom scrollbar for premium feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-800 rounded-full;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
}